{% extends ':security:index.html.twig' %}
{% block body %}
    <div>
        <h1>Welcome!</h1><br>
        <div id="lipsum">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum at lacus quis ullamcorper. Nulla et condimentum orci, sit amet fringilla tellus. Sed consequat feugiat augue, a fringilla eros malesuada in. Ut dignissim maximus justo, in mattis mauris dapibus at. Aenean a porta sapien. Maecenas sodales mauris et sapien consectetur, vel ornare elit rhoncus. Duis porttitor in felis ac laoreet. Pellentesque porttitor felis non ligula luctus dapibus. Fusce semper nisl ac dolor auctor rutrum. Aliquam et arcu molestie, semper leo vel, vestibulum nisl. Etiam ultrices elit ante, in tincidunt eros tempor non. Nulla ornare nisi mauris, nec consequat neque pellentesque vitae.
            </p>
            <p>
                Nulla quis arcu dignissim, aliquam nunc et, congue nunc. Vestibulum est nisi, sollicitudin sed augue egestas, ultricies aliquet libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas tempus leo quis tincidunt vestibulum. Nunc vitae quam nec augue scelerisque lacinia. Suspendisse non orci sit amet nisi dapibus pharetra. Ut ornare elit in leo commodo, eget tempus massa egestas. Praesent rhoncus finibus ipsum vitae suscipit. Nulla orci lectus, consectetur sed efficitur et, laoreet quis felis.
            </p>
            <p>
                Vestibulum pharetra eleifend maximus. Quisque at rhoncus lacus. Suspendisse varius varius tortor, ut scelerisque neque porttitor ut. Donec velit leo, malesuada ac tortor a, suscipit malesuada tellus. Ut sed nunc vestibulum, malesuada lacus at, rhoncus nunc. Cras congue ut nibh ac efficitur. Fusce auctor elit felis, nec maximus urna placerat vel. Etiam ligula mi, mollis in purus at, tincidunt placerat risus. Curabitur tincidunt tristique leo et vulputate. Aenean fringilla sem ultrices, sagittis odio non, maximus libero. Cras sem nibh, consectetur vitae quam in, porttitor congue lectus. Curabitur sed justo a nisl vestibulum rutrum. Quisque felis tortor, dignissim sit amet ultricies vel, hendrerit eu mauris. Quisque porta arcu eget purus congue placerat. Curabitur finibus, sem in malesuada porttitor, nunc mauris volutpat dui, ut congue urna leo non mauris. Mauris rhoncus ligula nec egestas egestas.
            </p>
            <p>
                Pellentesque vel rutrum arcu. In commodo semper turpis vitae mollis. Curabitur maximus lectus id augue faucibus, vitae mattis lorem rutrum. Duis lobortis turpis nec convallis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eu placerat risus, eget efficitur justo. Ut vestibulum aliquam commodo. Mauris gravida id leo eget dignissim. Cras at egestas massa. Fusce in pharetra neque, eget laoreet lorem. Etiam at arcu tempus, pulvinar velit lobortis, euismod diam. Maecenas et enim egestas, ornare diam at, venenatis augue. Donec lectus velit, dapibus nec maximus eu, dapibus eget turpis.
            </p>
            <p>
                Fusce pulvinar justo id nibh euismod, in scelerisque libero auctor. Etiam sit amet mauris vel massa scelerisque auctor. Donec ac ex in augue ultrices efficitur dignissim eu lacus. Donec in libero a massa aliquet semper eu in dui. Donec tempus mi bibendum felis porttitor fermentum. Mauris at dignissim nisi, sed tempor massa. Aliquam dictum ornare tortor, a cursus orci ornare quis. Sed non lectus semper, bibendum enim et, sodales massa. Etiam at sapien in dui dictum rutrum. Quisque tempus ullamcorper bibendum. Integer vulputate, enim in fringilla vehicula, neque tortor lacinia diam, at hendrerit ante leo sed leo. Donec tempus, metus iaculis cursus venenatis, nisi augue sollicitudin tellus, vel elementum metus risus varius erat. Nunc nec odio eu sem laoreet convallis a a est.
            </p></div>
    </div>
{% endblock %}


