{% block body %}
    <br><br>
    <div style="text-align: center">
        <img src="{{ asset('img/sad-suffering-crying-emoticon-face.svg') }}" height="250px">
        <br><br><br>
        <p style="font-size: 25px;">
            The resource you are looking for is unavailable or not found.
            <br><br>
            <p style="">
                You can return to <a href="{{ path('home') }}">Home</a>
            </p>
        </p>
    </div>

{% endblock %}